.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0e0231;
}

.nav-bar {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 0rem;
}

.nav-bar a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  transition: 0.3;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #018091;
  text-decoration-thickness: 30%;
  text-underline-offset: 20%;
  cursor: pointer;
}

.logo {
  width: 125px;
  height: 125px;
}

.logo:hover {
  cursor: pointer;
}

.home {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background: #111;
  transition: 0.5s;
  z-index: 2;
  opacity: 0.8;
}

.home video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
}

.home h1 {
  background-color: rgb(0, 254, 203, .6);
  max-width: 75%;
  font-size: 38px;
  font-family: 'Roboto', sans-serif;
}

.home h3 {
  font-weight: 425;
}

.home button {
  background-color: rgb(0, 254, 203, .6);
  color: white;
  border: 0;
  height: 40px;
  width: 100px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.text {
  z-index: 100;
  position: relative;
  padding-top: 8rem;
  padding-left: 15rem;
  color: white;
  max-width: 30%;
}

.signup {
  color: white;
  text-align: center;
  padding-bottom: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 425px;
  margin-right: 425px;
}

.signup input {
  width: 200px;
  height: 30px;
}

.signup button {
  color: white;
  background-color: #0e0231;
  border: 0;
  height: 40px;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  transition: 0.3s;
}

.signup button:hover {
  background-color: rgb(0, 254, 203, .6);
}

.mountains {
  color: black;
  font-family: 'Roboto', sans-serif;
  padding-left: 2rem;
  background-color: whitesmoke;
}

.mountains h1 {
  background-color: rgb(0, 254, 203, .6);
  max-width: 25%;
  text-indent: 4px;
  font-weight: 500;
  font-size: 35px;
}

.mountains p {
  font-weight: 300;
  max-width: 60%;
}

.mountains h3 {
  font-size: 23px;
  font-weight: 400;
}

.mountains h4 {
  font-weight: 400;
}

.mountains span {
  padding-bottom: 1rem;
  font-weight: 300;
}

.mountains a {
  font-size: 16px;
  padding-bottom: 1rem;
  color: black;
  font-family: 'Roboto', sans-serif;

}

.mountains form {
  padding-bottom: 1rem;
}

.mountains img {
  width: 50%;
  height: 50%;
}

.mountains a {
  color: black;
  font-family: 'Roboto', sans-serif;
}

.favorites {
  color: white;
  padding-left: 4rem;
}

.row {
  display: flex;
}

.column {
  flex: 20%;
  align-items: center;
  text-align: center;
  margin: auto;
}

.column button {
  width: 155px;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  height: 40px;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin: auto;
}

.column input {
  margin: auto;
}

.column button:hover {
  background-color: rgb(0, 254, 203, .6);
}

.submit-button {
  border: 0;
  height: 20px;
  width: 80px;
  background-color: white;
}

#delete-button {
  width: 130px;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  height: 40px;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: auto;
  margin-right: 1rem;
}

#delete-button:hover {
  background-color: rgb(0, 254, 203, .6);
}
